html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f8f9fa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.table-responsive {
  max-height: 65vh;
  overflow-y: auto;
}

#notifications-table th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.bg-success, .bg-warning, .bg-danger, .bg-secondary {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 0.9rem;
  }
  
  .card-text {
    font-size: 1.2rem;
  }
}

#refresh-indicator {
  color: white;
}